body{
    background-color: #0B0A07;
}
#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F6EFEE;
    text-align: center;
}
h1{
    margin: 10px;
}
.board{
    background-color: #F6EFEE;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
}
.title{
    font-size: 100px;
}
.turn{
    color: #f6efee81;
}
#scoreXContainer{
    display: flex;
    justify-content: space-evenly;
}
.tile{
    width: 190px;
    height: 190px;
    margin: 5px;
    background-color: #0B0A07;
    border-style: none;
    border-color: #F6EFEE;
}

.tile:disabled{
    /* background-color: #C16E70; */
    font-size: 100px;
    color: #F6EFEE;
}
#resetButton {
    border: none;
    background-color: #0B0A07;
    color: #F6EFEE;
    font-size: 50px;
}