.board{
    width: 900px;
    height: 900px;
    display: flex;
    flex-flow: row wrap;
    
}

.tile{
    width: 300px;
    height: 300px;
}
.tile:enabled{
    background-color: white;   
}
.tile:disabled{
    background-color: black;
    color: white;
}